.techstack {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 0.5em;
  }

  h3 {
    margin: 0;
  }

  .intro {
    text-align-last: center;
    margin-bottom: 2em;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  max-width: 900px;
  aspect-ratio: 1000 / 600;
  margin-bottom: 2em;
}

@media (max-width: 768px) {
  .techstack .intro {
    text-align-last: left;
  }
}
