.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.opener {
  text-align-last: center;
}

.about p {
  margin-bottom: 10px;
}

.about h2 {
  margin-bottom: 20px;
  align-self: center;
}

.about h3 {
  margin: 0;
}

@media (max-width: 768px) {
  .opener {
    text-align-last: left;
  }
}
