.projectsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.githubLink {
  display: inline-block;
  margin: 0.5em auto;

  text-decoration: none;
}

.loaderWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: #ff3d00;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

.projectHeading,
.projectOpener {
  align-self: center;
  margin-bottom: 1em;
}

.projectOpener {
  text-align-last: center;
}

.projectList {
  list-style: none;
  width: 100%;
}
.projectList li {
  padding: 0.8em 0.4em 0 0.4em;
  margin-bottom: 20px;
  border-radius: 30px;
  padding: 1em;
}

.projectList hr {
  width: 50%;
  margin: 0 auto;
}
/* Light Mode Styles */
.lightMode {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.projectHeading {
  color: var(--secondary-color-light);
}

.lightMode .projectList li {
  background-color: var(
    --accent-color-light-2
  ); /* Hintergrundfarbe für gerade Elemente */
}

.lightMode .projectList li:nth-of-type(odd) {
  background-color: var(
    --highlight-color-light
  ); /* Hintergrundfarbe für ungerade Elemente */
}

/* Dark Mode Styles */

.darkMode .projectList li {
  background-color: #222;
}

.darkMode .projectList li:nth-of-type(odd) {
  background-color: #111;
}

/* Item background colors */
.background-light-item-even {
  background-color: #f5f5f5; /* Heller Hintergrund für gerade Listenelemente im Light Mode */
}

.background-light-item-odd {
  background-color: #e0e0e0; /* Etwas dunklerer Hintergrund für ungerade Listenelemente im Light Mode */
}

.background-dark-item-even {
  background-color: #444; /* Etwas dunklerer Hintergrund für gerade Listenelemente im Dark Mode */
}

.background-dark-item-odd {
  background-color: #333; /* Noch dunklerer Hintergrund für ungerade Listenelemente im Dark Mode */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
